@use "./layout/buttons";
@use "./layout/page";
@use "./partials/images";
@use "./partials/mixins";
@use "./partials/variables" as *;
@use "./vendor/media-query-mixins";
@use "./defaults" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: 1.5rem;
  background-image: url(../images/bg-intro-mobile.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-color: $prRed;

  @include md {
    background-image: url(../images/bg-intro-desktop.png);
  }
}
