@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$images-path: "/images";

$prRed: hsl(0, 100%, 74%);
$prGreen: hsl(154, 59%, 51%);

$accBlue: hsl(248, 32%, 49%);
$accDarkBlue: hsl(249, 10%, 26%);
$accGrayishBlue: hsl(246, 25%, 77%);

$primary-font: "Poppins", sans-serif;
